* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 550px;
    margin: 30px auto;
    padding: 50px 0;
    background-color: lightcoral;
    text-align: center;
}

table {
    width: 450px;
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    width: 50px;
    height: 50px;
}

td{
    border: 1px solid black;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.heading {
    font-size: larger;
}

.top {
    padding-top: 20px;
}

.left {
    padding-left: 20px;
}

