* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 30px auto;
    padding: 20px 0;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: lightskyblue;
}

.text_blue {
    color: lightskyblue;
}

.text_red {
    color: red;
}

table {
    width: 490px;
    margin: 0 auto;
    text-align: center;

}

.table_top td, th {
    width: 70px;
    height: 30px;
}

span {
    vertical-align: sub;
    font-size: 15px;
    font-weight: lighter;
    color: black;
}

.table_bottom {
    border-collapse: collapse;
}

.table_bottom td {
    width: 70px;
    height: 50px;
}


.table_bottom td {
    font-size: larger;
    border: 2px solid gray;
}